@charset "UTF-8";

/* Todas as outras medias*/

@media print  {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid black;
        width: 90vw;
    }

   main > h1 {
    text-shadow: none;
    color: #000;
   }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#desktop {display: none;}
    img#tv {display: none;}
    
}

main::after {
    content: "Esse site foi criado por oigorsz.github.io";
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#desktop {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#desktop {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width:1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#desktop {display: none;}
    img#tv {display: block;}

}