@charset "UTF-8";

/* Mobile First*/

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;

    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background: #000 url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: #ffffffb7;
    width: 350px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    font-size: 1em;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 2px #00000048;
}

img {
    display: block;
    margin: auto;
}

img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#desktop {display: none;}
img#tv {display: none;}