@charset "UTF-8";

/*Configurações gerais*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: #f0efef;
    text-shadow: 2px 2px 0px #12208a;
    padding: 10px;
}