@charset "UTF-8";

/*Declarações gerais*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: #f0efef;
    text-shadow: 2px 2px 0px #12208a;
    padding: 10px;
    text-align: center;
}
/*Portrait*/
@media screen and (orientation: portrait) {
            body {
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
    }
}
/*Landscape*/
@media screen and (orientation:landscape) {
            body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
}