@charset "UTF-8";
@font-face {
    font-family: 'Anime' ;
    src: url(Anime\ Inept.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Kaushan+Script&display=swap');


:root {
    --cor1 : #F2E2C4;
    --cor2 : #F2766B;
    --cor3 : #73324A;
    --cor4 : #40010D;
    --cor5 : #F25260;
    --cor0 : white;
    --cor6 : black;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-anime: 'Anime';
    --fonte-nav: 'Josefin Sans', 'sans-serif';

}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
}

header {
   background-image: linear-gradient(to top, var(--cor4), var(--cor3));
   min-height: 120px;
   padding-top: 10px;
   margin: auto;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 3.3em;
    font-weight: lighter;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.342);
    
}

header > p {
    color: white;
    text-align: center;
    font-size: 1.4em;
    font-weight: lighter;
    padding-top: 10px;
    text-shadow: 1px 1px 3px black;
}

nav {
    margin: auto;
    background-color: var(--cor4);
    padding-bottom: 10px;
}

nav > a {
    color: white;
    text-decoration: none;
    text-align: left;
    
    font-size: 1.1em;
    padding: 10px;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor5);
    color: var(--cor4);
    border-radius: 10px;
}

main {
    padding-top: 20px;
    background-color: var(--cor3);
    margin: auto;
    max-width: 750px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.267);
    align-items: center;
}

main > h1 {
    color: var(--cor1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 2em;
    text-align: left;
    padding-bottom: 10px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.26);

}

main > article {
    margin: auto;
    width: 100%;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main > article > a {
    height: 390px;
    padding: 20px;
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
}

main > article > a:hover {
    background-color: var(--cor4);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    text-decoration: underline;
}


main > article > a > h2 {
    width: 180px;

}

footer{
    background-color: #40010D;
    margin-top: 40px;
    font-size: 1.1em;
    text-align: center;
    color: white;
    padding: 10px;
}

footer > p > a {
    text-decoration: none;
    color: white;
}

footer > p > a:hover {
    text-decoration: underline;
    color:var(--cor5);
}








